*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #f1f5f8;
}

.text-cream{
    color: #cdc2c2;
}

.iconcode {
    color:#ffffff80;
}

.side-color{
    background-color: #f6efe6;
}
.btn-style{
    margin: 30px 0px;
}

.card-list{
width: 90vw;
max-width: 1178px;
margin:3rem auto;
display: grid;
gap:2rem;
}

.card{
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
}
@media screen and (min-width:768px) {
    .card-list{
        grid-template-columns: repeat(3,1fr);
    }
}

